<ion-view title="Dashboard">
  <ion-content padding="true">
    <ion-list>
      <ion-item ng-repeat="(rider, status) in dashboard.statuses">
        {{rider}} 
        <span class="status-speed">{{status.speed}}</span>
        <span class="status-distance">{{status.distance}}</span>
        <span class="status-age">{{status.age}}</span>
      </ion-item>
    </ion-list>
    <div>
      Speed: {{dashboard.myStatus.speed}} {{dashboard.myStatus.age}}
    </div>
      Messages! {{dashboard.updateCounter}}
  </ion-content>
</ion-view>
